<div class="input-group md-form form-sm form-2 pl-0">
  <input class="form-control my-0 py-1" type="text" placeholder="Search" aria-label="Search">
  <div class="input-group-append">
    <span class="input-group-text lighten-3" id="main-search">
      <i class="fas fa-search text-white" aria-hidden="true"></i>
    </span>
  </div>
</div>
