<h1>this is the dashboard page</h1>
<div>
  <% @my_bikes.each do |bike|%>
   <%= bike.brand%>
  <% end %>
</div>
<!--
user information:
user Details information:
first & last name //
 email address //
phone number

rental information: (user who wants to rent the )
user Details information:
first & last name //
 email address //
phone number

my bike information:
Details information:
price // type // Fram Size //
Year // Brand // Location
Availble for rent

rental history -->
