<h1>All Bikes</h1>

<div class="container">
  <ul>
    <% @bikes.each do |bike| %>
    <div class="row" class="col-sm-4">
      <img src="<%= bike.photo %>" class="border">
    </div>
    <% end  %>
  </ul>
</div>
