<div class="container mt-3">

  <h1><%= @query.nil? ? "All bikes:" : "Bikes matching '#{@query}'" %></h1>

  <%= render 'shared/searchbar' unless request.env['PATH_INFO'] == "/" %>

  <%= render 'shared/bikesgrid' %>

</div>
