.card-group a {
  text-decoration: none;
  color: black;
}
.card {
  border: 1px solid rgba(1, 1, 1, 0.17);
  box-shadow: 1px 1px 4px rgba(150, 150, 150, 0.17);
  border-radius: 3px;
  &:hover {
    transition: 0.2s;
    transform: scale(1.005);
    box-shadow: 1px 1px 10px rgba(150, 150, 150, 0.17);
  }
}
.card-img-top {
  max-height: 300px;
}
.card-title {
  font-size: 18px;
  font-weight: 500;
}

@media(min-width: 768px) {
  // small mode
  .card-product {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 50px;
    display: block !important;
    height: auto !important;
  }
  .card-product img {
    width: 100% !important;
  }
  .card-product-infos {
    padding: 20px 0 !important;
  }
}
.card-product {
  padding: 10px;
  width: 100%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  width: 50%
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
.card-product-infos {
  padding: 20px;
}

