.navbar-lewagon {
  justify-content: space-between;
  background: $blue;
  color: white !important;
  height: 65px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  margin-bottom: 8px;
  filter: brightness(100);
}
.navbar-brand {
  display: flex;
  align-items: center;
  h1 {
    white-space: nowrap;
    display: inline-block;
    margin: 0 8px;
  }
}
